<mat-card id="wahlkreis-card" *ngIf="wahlkreisLoaded()">
  <div id="wahlkreis-card-header">
    <mat-card-title>{{"Wahlkreis " + nummer}}</mat-card-title>
    <mat-slide-toggle id="einzelstimmen-toggle" (change)="onEinzelstimmenToggleChanged($event)"
                      checked="{{useEinzelstimmen}}">Neuberechnung mit Einzelstimmen
    </mat-slide-toggle>
  </div>
  <mat-divider inset></mat-divider>
  <mat-card-content></mat-card-content>
  <table>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Name
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content>
          {{wahlkreis.wk_name}}
        </mat-card-content>
      </td>
    </tr>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Sieger
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content *ngIf="wahlkreis.sieger_vorname && wahlkreis.sieger_nachname">
          {{wahlkreis.sieger_vorname + " " + wahlkreis.sieger_nachname + ", " + wahlkreis.sieger_partei}}
        </mat-card-content>
        <mat-card-content *ngIf="!wahlkreis.sieger_vorname || !wahlkreis.sieger_nachname">
          {{wahlkreis.sieger_partei}}
        </mat-card-content>
      </td>
    </tr>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Wahlbeteiligung
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content>
          {{ (wahlkreis.wahlbeteiligung_prozent  | number: '1.0-2') + '%'}}
        </mat-card-content>
      </td>
    </tr>
  </table>
  <mat-divider inset></mat-divider>
  <!-- hack for empty space-->
  <mat-card-content></mat-card-content>
  <div id="wahlkreis-chart-container">
    <div class="wahlkreis-chart-titled">
      <mat-card-subtitle><h1>Erststimmenergebnisse der Parteien</h1></mat-card-subtitle>
      <chart id="wahlkreis-erststimmen-chart"
             [type]="erststimmenConfig.type"
             [data]="erststimmenConfig.data"
             [options]="erststimmenConfig.options"></chart>
    </div>
    <div class="wahlkreis-chart-titled">
      <mat-card-subtitle><h1>Zweitstimmenergebnisse der Parteien</h1></mat-card-subtitle>
      <chart id="wahlkreis-zweitstimmen-chart"
             [type]="zweitstimmenConfig.type"
             [data]="zweitstimmenConfig.data"
             [options]="zweitstimmenConfig.options"></chart>
    </div>
  </div>
</mat-card>
<mat-spinner *ngIf="!wahlkreisLoaded()"></mat-spinner>
