@import '../../../styles.scss';

:host {
  @extend .host-container
}

#wahlkreis-card {
  margin: 5rem;
  width: 80%;
}

.wahlkreis-card-key mat-card-content {
  font-weight: bold;
}

#wahlkreis-chart-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}


#wahlkreis-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

