<div class="strukturdaten-settings-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Metrik</mat-label>
      <mat-select [formControl]="metrik" (selectionChange)="populateRangliste()">
        <mat-option *ngFor="let metrik of metriken" [value]="metrik">{{metrik.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Top N</mat-label>
      <input type="number" matInput [min]="1" [max]="20" [formControl]="topN" (input)="populateRangliste()">
    </mat-form-field>
  </div>
</div>
<div *ngIf="bDataLoaded()" class="strukturdaten-container">
  <div>
    <app-svg-karte [bData]="bData"></app-svg-karte>
  </div>
  <div class="strukturdaten-result-container">
    <div *ngIf="stimmenLoaded()">
      <h2>{{this.metrik.value.displayName}}</h2>
      <chart [type]="ergebnisseVergleichConfig.type" [data]="ergebnisseVergleichConfig.data"
        [options]="ergebnisseVergleichConfig.options"></chart>
    </div>
  </div>

</div>
