<div *ngIf="knappLoaded()">
  <h1>Knappste Siege oder Niederlagen der Parteien (nach Erststimme)</h1>
  <div id="knapp-filter">
    <mat-form-field appearance="fill">
      <mat-label>Sieg/Niederlage</mat-label>
      <mat-select (selectionChange)="this.istSiegFilter = $event.value; updateFiltered()" value="Beide">
        <mat-option value="Sieg">
          Sieg
        </mat-option>
        <mat-option value="Niederlage">
          Niederlage
        </mat-option>
        <mat-option value="Beide">
          Beide
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Siegerpartei</mat-label>
      <mat-select (selectionChange)="this.siegerParteiFilter = $event.value; updateFiltered()" value="Alle">
        <mat-option *ngFor="let sp of this.siegerParteien" [value]="sp">
          {{sp}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Verliererpartei</mat-label>
      <mat-select (selectionChange)="this.verliererParteiFilter = $event.value; updateFiltered()" value="Alle">
        <mat-option *ngFor="let vp of this.verliererParteien" [value]="vp">
          {{vp}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <table id="knapp-table" mat-table *ngIf="knappLoaded()" [dataSource]="filteredKnappData" class="mat-elevation-z8">
    <ng-container matColumnDef="sieger-partei">
      <th mat-header-cell *matHeaderCellDef>Siegerpartei</th>
      <td mat-cell *matCellDef="let row"> {{row.sieger_partei}} </td>
    </ng-container>
    <ng-container matColumnDef="verlierer-partei">
      <th mat-header-cell *matHeaderCellDef>Verliererpartei</th>
      <td mat-cell *matCellDef="let row"> {{row.verlierer_partei}} </td>
    </ng-container>
    <ng-container matColumnDef="wahlkreis">
      <th mat-header-cell *matHeaderCellDef>Wahlkreis</th>
      <td mat-cell *matCellDef="let row">{{row.wk_name}} </td>
    </ng-container>
    <ng-container matColumnDef="differenz-stimmen">
      <th mat-header-cell *matHeaderCellDef>Vorsprung bzw. Rückstand (Stimmen)</th>
      <td mat-cell *matCellDef="let row"> {{row.differenz_stimmen}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"
        [ngStyle]="{'background':  (row.is_sieg ? '#00FF0040' : '#FF000040'  )}"></tr>

  </table>
</div>
<mat-spinner *ngIf="!knappLoaded()"></mat-spinner>
