<mat-card id="wahlkreis-card" *ngIf="wahlkreisLoaded()">
  <mat-card-title>{{"Wahlkreis " + nummer}}</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content></mat-card-content>
  <table>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Name
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content>
          {{wahlkreis.name}}
        </mat-card-content>
      </td>
    </tr>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Sieger
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content>
          {{wahlkreis.sieger_vorname + " " + wahlkreis.sieger_nachname + ", " + wahlkreis.sieger_partei}}
        </mat-card-content>
      </td>
    </tr>
    <tr class="wahlkreis-card-row">
      <td class="wahlkreis-card-key">
        <mat-card-content>
          Wahlbeteiligung
        </mat-card-content>
      </td>
      <td class="wahlkreis-card-value">
        <mat-card-content>
          {{ (wahlkreis.wahlbeteiligung_prozent  | number: '1.0-2') + '%'}}
        </mat-card-content>
      </td>
    </tr>
  </table>
  <mat-divider inset></mat-divider>
  <!-- hack for empty space-->
  <mat-card-content></mat-card-content>
  <mat-card-subtitle><h1>Erststimmenergebnisse der Parteien</h1></mat-card-subtitle>
  <chart id="wahlkreis-results-chart" [type]="resultsConfig.type"
         [data]="resultsConfig.data"
         [options]="resultsConfig.options"></chart>
</mat-card>
