@import 'src/theme.scss';

// More styles...
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Disable anchor styling
a {
  text-decoration: none !important;
  color: inherit !important;
}

h3 {
  text-align: center !important;
}

.clickable-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.spaced-column {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

h1 {
  text-align: center !important;
}
