@import 'src/theme.scss';

// More styles...
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Disable anchor styling
a {
  text-decoration: none !important;
  color: inherit !important;
}
