@import 'src/theme.scss';

// More styles...
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Disable anchor styling
a {
  text-decoration: none !important;
  color: inherit !important;
}


.mat-cell {
  padding: 12px 24px 12px 0 !important;
}

h3 {
  text-align: center !important;
}


h1 {
  text-align: center !important;
}
