@import "../../../styles.scss";

:host {
  @extend .host-container
}

.mat-column-erststimme, .mat-column-zweitstimme {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.mat-column-erststimme {
  border-right: 5px solid black;
}

#wahl-token-input {
  margin-top: 1rem;
  width: 100%;
}

#cast-vote-btn {
  margin-top: 1rem;
}

#reset-stimmzettel-btn {
  width: 100%;
  margin-top: 1rem;
}

#vote-message-failure {
  color: red;
}

#vote-message-success {
  color: green;
}


