<div *ngIf="stimmzettelLoaded()" class="center flex-column">
  <h1>{{'Stimmzettel für Wahlkreis ' + this.nummer}}</h1>
  <table id="mdb-table" mat-table [dataSource]="stimmzettel" class="mat-elevation-z8">
    <ng-container matColumnDef="erststimme_selection">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button *ngIf="row.dk_nachname" name=erststimme_selection (change)="erststimmeChanged($event)"
                          id="{{'erststimme_' + row.kandidatur}}}"></mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="erststimme">
      <th mat-header-cell *matHeaderCellDef>ERSTSTIMME</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.dk_nachname && !row.ist_einzelbewerbung">
          {{row.dk_vorname}} {{row.dk_nachname}}
        </div>
        <!-- Einzelbewerber -->
        <div *ngIf="row.dk_nachname && row.ist_einzelbewerbung" class="flex-column">
          <div>
            {{row.dk_vorname}} {{row.dk_nachname}}
          </div>
          <div class="partei-lang">
            {{row.partei_lang}}
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="zweitstimme">
      <th mat-header-cell *matHeaderCellDef>ZWEITSTIMME</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="!row.ist_einzelbewerbung" class="flex-column">
          <div>
            {{row.partei}}
          </div>
          <div class="partei-lang">
            {{row.partei_lang}}
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="zweitstimme_selection">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button *ngIf="!row.ist_einzelbewerbung" name=zweitstimme_selection
                          (change)="zweitstimmeChanged($event)"
                          id="{{'zweitstimme_' + row.liste}}}"></mat-radio-button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <!--[ngStyle]="{'background': '#' +  mdb.partei_farbe + '60'}" -->
  </table>
  <div id="after-stimmzettel">
    <mat-form-field appearance="fill">
      <mat-label>Ihr Zugangsschlüssel:</mat-label>
      <input matInput [formControl]="token" required>
      <mat-error *ngIf="token.invalid">Ungültiges Format für den Zugangsschlüssel</mat-error>
    </mat-form-field>
    <button *ngIf="voteStatus.isIdle()" color="primary" mat-raised-button (click)="stimmeAbgeben()"
            [disabled]="token.invalid">
      Stimmzettel Abgeben
    </button>
    <div *ngIf="voteStatus.isResultStatus()" class="center flex-column">
      <mat-spinner *ngIf="voteStatus.isWaiting()"></mat-spinner>
      <div class="center flex-column" id="vote-message-failure" *ngIf="voteStatus.isFailure()">
        <div>
          <mat-icon>error</mat-icon>
          <span>Etwas ist schiefgelaufen, mögliche Gründe sind:</span>
        </div>
        <ul>
          <li>Fehlerhafte Eingabe ihres Schlüssels</li>
          <li>Ungültiger Zugangsschlüssel</li>
          <li>Bereits benutzter Zugangsschlüssel</li>
        </ul>
      </div>
      <div class="center flex-row stretch" id="vote-message-success" *ngIf="voteStatus.isSuccess()">
        <mat-icon>done</mat-icon>
        <span>Ihre Stimme wurde gezählt</span>
      </div>
      <button class="stretch" color="accent" mat-raised-button (click)="resetStimmzettel()">Neuer Stimmzettel
        (automatisch in {{newStimmzettelCountdown}}s)
      </button>
    </div>
  </div>
</div>
<mat-spinner *ngIf="!stimmzettelLoaded()"></mat-spinner>


