<div id="mdb-container">
  <h1>Mitglieder des Deutschen Bundestages</h1>
  <div class="filter-row">
    <mat-form-field appearance="fill">
      <mat-label>Partei</mat-label>
      <mat-select [formControl]="parteiFilter" value="Alle">
        <mat-option value="Alle">Alle</mat-option>
        <mat-option *ngFor="let p of this.parteien" [value]="p">
          {{p}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Geschlecht</mat-label>
      <mat-select [formControl]="geschlechtFilter" value="Alle">
        <mat-option value="Alle">Alle</mat-option>
        <mat-option *ngFor="let g of this.geschlechter" [value]="g">
          {{g}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <table id="mdb-table" mat-table [dataSource]="mdbDataSource" class="mat-elevation-z8" *ngIf="mdbLoaded()">
    <ng-container matColumnDef="nachname">
      <th mat-header-cell *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.nachname}} </td>
    </ng-container>
    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.vorname}} </td>
    </ng-container>
    <ng-container matColumnDef="partei">
      <th mat-header-cell *matHeaderCellDef>Partei</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.partei}} </td>
    </ng-container>
    <ng-container matColumnDef="geburtsjahr">
      <th mat-header-cell *matHeaderCellDef>Geburtsjahr</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.geburtsjahr}} </td>
    </ng-container>
    <ng-container matColumnDef="geschlecht">
      <th mat-header-cell *matHeaderCellDef>Geschlecht</th>
      <td mat-cell *matCellDef="let kandidat"> {{kandidat.geschlecht}} </td>
    </ng-container>
    <ng-container matColumnDef="grund">
      <th mat-header-cell *matHeaderCellDef>Grund</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.grund}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let mdb; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator #paginator></mat-paginator>
</div>
<mat-spinner *ngIf="!mdbLoaded()"></mat-spinner>
