<div class="stretch" [hidden]="!knappLoaded()">
  <div class="filter-row">
    <mat-form-field appearance="fill">
      <mat-label>Sieg/Niederlage</mat-label>
      <mat-select [formControl]="typFilter" value="Beide">
        <mat-option value="Beide">
          Beide
        </mat-option>
        <mat-option value="Sieg">
          Sieg
        </mat-option>
        <mat-option value="Niederlage">
          Niederlage
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Siegerpartei</mat-label>
      <input matInput [formControl]="siegerParteiFilter">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>VerliererPartei</mat-label>
      <input matInput [formControl]="verliererParteiFilter">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="resetFilters()" class="filter-reset-btn">
      <mat-icon style="transform: scale(2)">cached</mat-icon>
    </button>
  </div>


  <table mat-table [dataSource]="knappDataSource" matSort class="stretch mat-elevation-z8">
    <ng-container matColumnDef="sieger_partei">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Siegerpartei (SP)</th>
      <td mat-cell *matCellDef="let knapp"> {{knapp.sieger_partei}} </td>
    </ng-container>
    <ng-container matColumnDef="abs_stimmen_sieger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stimmen SP</th>
      <td mat-cell *matCellDef="let knapp"> {{knapp.abs_stimmen_sieger}} </td>
    </ng-container>
    <ng-container matColumnDef="verlierer_partei">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Verliererpartei (VP)</th>
      <td mat-cell *matCellDef="let knapp"> {{knapp.verlierer_partei}} </td>
    </ng-container>
    <ng-container matColumnDef="abs_stimmen_verlierer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stimmen VP</th>
      <td mat-cell *matCellDef="let knapp"> {{knapp.abs_stimmen_verlierer}} </td>
    </ng-container>
    <ng-container matColumnDef="wk_nummer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wahlkreis</th>
      <td mat-cell *matCellDef="let knapp"  class="clickable-cell" [routerLink]="'/Daten/Wahlkreis/' + knapp.wk_nummer">{{knapp.wk_nummer + " - " + knapp.wk_name}} </td>
    </ng-container>
    <ng-container matColumnDef="differenz_stimmen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Differenz (Stimmen)</th>
      <td mat-cell *matCellDef="let knapp"> {{knapp.is_sieg ? '+' : '-'}}{{knapp.differenz_stimmen}} </td>
    </ng-container>
    <ng-container matColumnDef="differenz_relativ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Differenz (relativ)</th>
      <td mat-cell
          *matCellDef="let knapp"> {{100 * knapp.differenz_stimmen / (knapp.is_sieg ? knapp.abs_stimmen_verlierer : knapp.abs_stimmen_sieger) | number: '1.3-3'}}
        %
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row class="row-hover" *matRowDef="let knapp; columns: columnsToDisplay"
        [routerLink]="'/Daten/Wahlkreis/' + knapp.wk_nummer"
        [ngClass]="knapp.is_sieg ? 'winner-row' : 'loser-row'"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" #paginator></mat-paginator>
</div>
<mat-spinner *ngIf="!knappLoaded()"></mat-spinner>
