:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mat-column-sieger-partei, .mat-column-verlierer-partei, .mat-column-wahlkreis, .mat-column-differenz-stimmen {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#knapp-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}