:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.mat-column-sieger-partei, .mat-column-verlierer-partei, .mat-column-wahlkreis, .mat-column-differenz-stimmen,
.mat-column-stimmen-sieger-partei, .mat-column-stimmen-verlierer-partei {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-column-differenz-stimmen, .mat-column-stimmen-sieger-partei, .mat-column-stimmen-verlierer-partei, .mat-column-differenz-relativ {
  text-align: right;
}


.winner-row {
  background: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0));
}

.loser-row {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0));
}
