<div class="strukturdaten-settings-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Metrik</mat-label>
      <mat-select [formControl]="metrikFormControl" (selectionChange)="populateRangliste()">
        <mat-option *ngFor="let metrik of metriken" [value]="metrik">{{metrik.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Top N</mat-label>
      <input type="number" matInput [min]="1" [max]="100" [formControl]="topNFormControl" (input)="populateRangliste()">
    </mat-form-field>
  </div>
</div>
<div *ngIf="bDataLoaded()" class="strukturdaten-container">
  <div class="strukturdaten-karte-container">
    <div>
      <mat-button-toggle-group [disabled]="!stimmenLoaded()" name="kartenTyp" [(ngModel)]="kartenTyp"
        (change)="onKartenTypChange()">
        <mat-button-toggle [value]="1">Gesamt</mat-button-toggle>
        <mat-button-toggle [value]="2">Top N</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="strukturdaten-karte">
      <app-svg-karte [bData]="bData" [getTooltipText]="getTooltipText.bind(this)"></app-svg-karte>
    </div>
  </div>
  <div *ngIf="stimmenLoaded()" class="strukturdaten-ergebnis-container">
    <h2>{{this.metrikFormControl.value.displayName}}</h2>
    <chart [type]="ergebnisseVergleichConfig.type" [data]="ergebnisseVergleichConfig.data"
      [options]="ergebnisseVergleichConfig.options"></chart>
  </div>
</div>