.strukturdaten-settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.strukturdaten-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.strukturdaten-karte {
  height: 650px;
}

.strukturdaten-ergebnis-container {
  flex-grow: 1;
}