:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#kandidat-table {
  width: 60vw !important;
}

.mat-column-vorname, .mat-column-nachname, .mat-column-titel, .mat-column-geburtsjahr, .mat-column-geschlecht,
.mat-column-partei, .mat-column-bundesland, .mat-column-listenplatz, .mat-column-wk_nummer, .mat-column-rel_stimmen {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-column-rel_stimmen {
  text-align: center;
  flex-grow: 1;
}


.highlight-cell-center {
  background: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.4), rgba(0, 255, 0, 0));
}

.highlight-cell-right {
  background: linear-gradient(to right, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.4));
}

.highlight-cell-left {
  background: linear-gradient(to left, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.4));
}
