:host {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-column-vorname, .mat-column-nachname, .mat-column-grund, .mat-column-geburtsjahr {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#mdb-container {
  width: 100%;
}

#mdb-table {
  width: 100%;
}

