<div id="mdb-container" *ngIf="mdbLoaded()">
  <h1>Mitglieder des Deutschen Bundestages</h1>
  <table id="mdb-table" mat-table  [dataSource]="mdbDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.vorname}} </td>
    </ng-container>
    <ng-container matColumnDef="nachname">
      <th mat-header-cell *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.nachname}} </td>
    </ng-container>
    <ng-container matColumnDef="partei">
      <th mat-header-cell *matHeaderCellDef>Partei</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.partei}} </td>
    </ng-container>
    <ng-container matColumnDef="geburtsjahr">
      <th mat-header-cell *matHeaderCellDef>Geburtsjahr</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.geburtsjahr}} </td>
    </ng-container>
    <ng-container matColumnDef="grund">
      <th mat-header-cell *matHeaderCellDef>Grund</th>
      <td mat-cell *matCellDef="let mdb"> {{mdb.grund}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let mdb; columns: columnsToDisplay"></tr>
    <!--[ngStyle]="{'background': '#' +  mdb.partei_farbe + '60'}" -->
  </table>
  <mat-paginator #mdbPaginator [pageSizeOptions]="[10,15,30]" e="10"></mat-paginator>
</div>
<span *ngIf="wahl == 19">Leider gibt es aus Datenschutzgründen keine Daten zu den MDB der BTW 2017.</span>
<mat-spinner *ngIf="wahl == 20 && !mdbLoaded()"></mat-spinner>
