@import "~@angular/material/theming";
@import "../../../theme_variables.scss";


#mdb-btn {
  background: mat-color($primaryPalette);
  color: white;
  width: 20%;
  transform: translateY(-50px);
}

#sitzverteilung-chart {
  width: 60%;
}

#sitzverteilung {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sitzverteilung-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sitzverteilung-card {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
}

.mat-column-partei, .mat-column-sitze {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
