#mdb-btn {
  color: white;
  width: 20%;
  transform: translateY(-50px);
}

#sitzverteilung-chart {
  width: 60%;
}

#sitzverteilung {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sitzverteilung-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sitzverteilung-card {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 40px;
}

.mat-column-partei, .mat-column-sitze {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.stimmen-diff-neutral {
  color: black;
}

.stimmen-diff-neg {
  color: #cc0000;
}

.stimmen-diff-pos {
  color: #007E33;
}

.sitze-align-center {
  text-align: center;
}

#mdb-gesamt-card {
  transform: translateY(-210px);
  margin: 0;
}

#mdb-gesamt-card .mat-card-title {
  font-size: 32pt;
  line-height: 32pt;
}

#mdb-gesamt-card .mat-card-content {
  font-size: 19pt;
  line-height: 19pt;
}

#mdb-gesamt-card.mat-card {
  box-shadow: none;
}