<div id="wahlkreis-selection" *ngIf="wahlkreiseLoaded()">
  <h1>Wahlkreise</h1>
  <mat-form-field id="wahlkreis-land-filter" appearance="fill">
    <mat-label>Bundesland</mat-label>
    <mat-select (selectionChange)="updateFiltered()" [(ngModel)]="landFilter">
      <mat-option value="Alle">Alle</mat-option>
      <mat-option *ngFor="let land of laender" [value]="land">
        {{land}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-nav-list id="wahlkreis-list">
    <div mat-list-item *ngFor="let wk of filteredWahlkreise">
      <a [href]="routePrefix + wk.wk_nummer">
        <div class="wahlkreis-container">
          <app-begrenzung class="begrenzung-container" [svgPath]="wk.wk_begrenzung" [height]="40"></app-begrenzung>
          <div class="wahlkreis-name"> {{ wk.wk_nummer }} - {{wk.wk_name}} </div>
        </div>
      </a>
    </div>
  </mat-nav-list>
</div>
<mat-spinner *ngIf="!wahlkreiseLoaded()"></mat-spinner>
