<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Überhangmandate
      </mat-panel-title>
      <mat-panel-description>
        Überhangmandate nach Partei und Bundesland
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-ueberhang></app-ueberhang>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ergebnis im Osten
      </mat-panel-title>
      <mat-panel-description>
        Zweitstimmenergebnis der Bundestagsparteien in Ostdeutschland
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-ostenergebnis></app-ostenergebnis>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Knappste Sieger/Verlierer
      </mat-panel-title>
      <mat-panel-description>
        Die 10 knappsten Wahlkreissieger oder Wahlkreisniederlagen aller angetretenen Parteien nach Erststimme
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-knapp></app-knapp>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vergleich: Hohe vs. niedrige Arbeitslosenquote
      </mat-panel-title>
      <mat-panel-description>
        Zweitstimmenergebnis der Bundestagsparteien in den 10 Wahlkreisen mit der höchsten bzw. niedrigsten
        Arbeitslosenquote
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-aqvergleich></app-aqvergleich>
  </mat-expansion-panel>
</mat-accordion>
