<mat-toolbar color="primary">
  <app-navitem name="Bundestag"></app-navitem>
  <app-navitem name="Daten"></app-navitem>
  <app-navitem name="Karte"></app-navitem>
  <app-navitem name="Statistiken"></app-navitem>
  <app-navitem name="Stimmabgabe"></app-navitem>
  <div id="wahl-slider">
    <span>2017</span>
    <span>
      <mat-slider [disabled]="!isWahlSelectionAllowed" id="wahl-slider-control" [tickInterval]="1" (change)="changeWahlSelection($event)" [value]="wahl" [min]="0" [max]="1"></mat-slider>
    </span>
    <span>2021</span>
  </div>
</mat-toolbar>
