<div *ngIf="stimmzettelLoaded()">
  <h1>{{'Stimmzettel für Wahlkreis ' + this.nummer}}</h1>
  <table id="mdb-table" mat-table [dataSource]="stimmzettel" class="mat-elevation-z8">
    <ng-container matColumnDef="erststimme_selection">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button *ngIf="row.dk_nachname" name=erststimme_selection (change)="erststimmeChanged($event)"
                          id="{{'erststimme_' + row.kandidatur}}}"></mat-radio-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="erststimme">
      <th mat-header-cell *matHeaderCellDef>ERSTSTIMME</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.dk_nachname">
          {{row.dk_vorname}} {{row.dk_nachname}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="zweitstimme">
      <th mat-header-cell *matHeaderCellDef>ZWEITSTIMME</th>
      <td mat-cell *matCellDef="let row"> {{row.partei}} </td>
    </ng-container>
    <ng-container matColumnDef="zweitstimme_selection">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-radio-button name=zweitstimme_selection (change)="zweitstimmeChanged($event)"
                          id="{{'zweitstimme_' + row.liste}}}"></mat-radio-button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    <!--[ngStyle]="{'background': '#' +  mdb.partei_farbe + '60'}" -->
  </table>
  <mat-form-field id="wahl-token-input" appearance="fill">
    <mat-label>Ihr Zugangsschlüssel:</mat-label>
    <input matInput [formControl]="token" required>
    <mat-error *ngIf="token.invalid">Ungültiges Format für den Zugangsschlüssel</mat-error>
  </mat-form-field>
  <button *ngIf="!showResponse" id="cast-vote-btn" mat-button (click)="stimmeAbgeben()" [disabled]="token.invalid">
    Stimmzettel Abgeben
  </button>
  <div *ngIf="showResponse" class="after-vote-popup">
    <mat-spinner *ngIf="voteSuccessful == null"></mat-spinner>
    <div class="after-vote-message" *ngIf="voteSuccessful != null && !voteSuccessful">
      <mat-icon id="checkmark-success" id="vote-message-failure" aria-hidden="false" aria-label="Checkmark icon">error
      </mat-icon>
      <span>Etwas ist schiefgelaufen, mögliche Gründe sind:</span>
      <ul>
        <li>Fehlerhafte Eingabe ihres Schlüssels</li>
        <li>Ungültiger Zugangsschlüssel</li>
        <li>Bereits benutzter Zugangsschlüssel</li>
      </ul>
    </div>
    <div class="after-vote-message" id="vote-message-success" *ngIf="voteSuccessful">
      <mat-icon aria-hidden="false" aria-label="Checkmark icon">done</mat-icon>
      <span>Ihre Stimme wurde gezählt</span>
    </div>
    <button *ngIf="voteSuccessful != null" id="reset-stimmzettel-btn" mat-button (click)="resetStimmzettel()">Neuer Stimmzettel (automatisch in {{newStimmzettelCountdown}}s)</button>
  </div>
</div>
<mat-spinner *ngIf="!stimmzettelLoaded()"></mat-spinner>


