@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@use '@ng-matero/extensions' as mtx;

@include mtx.all-component-themes($my-theme);
@include mtx.all-experimental-component-themes($my-theme);

// More styles...
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Disable anchor styling
a {
  text-decoration: none !important;
  color: inherit !important;
}

h3 {
  text-align: center !important;
}

.mat-row:hover {
  background-color: lightgrey !important;
}

.row-hover:hover {
  cursor: pointer;
}

.mat-row:nth-child(even){
  background-color: #e6e6e6;
}

.clickable-cell {
  color: darkblue !important;
  text-decoration: underline;
}

.chart-titled {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.filter-reset-btn {
  height: 100%;
}

.host-container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.stretch {
  width: 100%;
}


h1, h2 {
  text-align: center !important;
}
