#sitzverteilung-chart {
  width: 75%;
}

#sitzverteilung {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sitzverteilung-table {
  transform: translate(0, -30%)
}

:host {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
}

.mat-column-partei, .mat-column-sitze {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
