<div id="sitzverteilung" *ngIf="sitzVerteilungLoaded()">
  <h1>Sitzverteilung im Deutschen Bundestag</h1>
  <div id="sitzverteilung-cards-container">
    <mat-card *ngFor="let sv of sitzverteilung" class="sitzverteilung-card">
        <mat-card-title  [ngStyle]="{'color': '#' +  sv.partei_farbe}">{{sv.partei}}</mat-card-title>
      <mat-card-content>
        <span>{{sv.sitze}}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <chart id="sitzverteilung-chart" [type]="sitzVerteilungConfig.type"
         [data]="sitzVerteilungConfig.data"
         [options]="sitzVerteilungConfig.options"></chart>
  <button id="mdb-btn" mat-raised-button routerLink="/Bundestag/Mitglieder">Mitglieder des Bundestags</button>
</div>
<mat-spinner *ngIf="!sitzVerteilungLoaded()"></mat-spinner>



