#sitzverteilung-chart {
  width: 100%;
}

#sitzverteilung {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

:host {
  width: 100%;
  margin: 5rem;
}

