.mat-column-bundesland, .mat-column-partei, .mat-column-ueberhang {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-column-ueberhang {
  text-align: right;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
