<div id="ueberhang-container" *ngIf="ueberhangLoaded()">
  <table id="ueberhang-table" mat-table [dataSource]="ueberhangData" class="mat-elevation-z8">
    <ng-container matColumnDef="bundesland">
      <th mat-header-cell *matHeaderCellDef>Bundesland</th>
      <td mat-cell *matCellDef="let row"> {{row.bundesland}} </td>
    </ng-container>
    <ng-container matColumnDef="partei">
      <th mat-header-cell *matHeaderCellDef>Partei</th>
      <td mat-cell *matCellDef="let row">{{row.partei}} </td>
    </ng-container>
    <ng-container matColumnDef="ueberhang">
      <th mat-header-cell *matHeaderCellDef>Überhang</th>
      <td mat-cell *matCellDef="let row"> {{row.ueberhang}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
<mat-spinner *ngIf="!ueberhangLoaded()"></mat-spinner>
