#footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 1%;
  background-color: rgba(0,0,0,.04);
}

:host {
  height: 200px;
}

