@import "~@angular/material/theming";
@import "../../theme_variables.scss";

#footer {
  background: mat-color($primaryPalette);
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

:host {
  height: 200px;
}

