@import "~@angular/material/theming";
@import "../../theme_variables.scss";

:host {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60%;
}


mat-panel-title {
  font-size: larger;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

#add-vergleich-btn {
  background: mat-color($primaryPalette);
  color: white;
  width: 20%;
  margin-top: 1rem;
}

