<mat-accordion multi="true">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Überhangmandate
      </mat-panel-title>
      <mat-panel-description>
        Überhangmandate nach Partei und Bundesland
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-ueberhang></app-ueberhang>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ergebnis im Osten
      </mat-panel-title>
      <mat-panel-description>
        Zweitstimmenergebnis der Bundestagsparteien in Ostdeutschland
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-ostenergebnis></app-ostenergebnis>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Knappste Sieger/Verlierer
      </mat-panel-title>
      <mat-panel-description>
        Die 10 knappsten Wahlkreissieger oder Wahlkreisniederlagen aller angetrenen Parteien nach Erststimme
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-knapp></app-knapp>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let comp of vergleichComponents;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Vergleich mit Strukturdaten
      </mat-panel-title>
      <mat-panel-description>
        Zweitstimmenergebnis der Bundestagsparteien in den N Wahlkreisen mit dem höchsten bzw. niedrigsten
        Wert für eine Strukturdatenmetrik
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-strukturdaten></app-strukturdaten>
  </mat-expansion-panel>
</mat-accordion>
<button id="add-vergleich-btn" mat-button (click)="vergleichComponents.push(vergleichComponents.length);">Neuer Vergleich</button>
