<mat-accordion multi="true">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wahlkreise
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-wahlkreisliste routePrefix="Daten/Wahlkreis/"></app-wahlkreisliste>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kandidaten
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-kandidaten [hidefilter]="false" [mdbOnly]="true"></app-kandidaten>
  </mat-expansion-panel>
</mat-accordion>

