<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wahlkreise
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-wahlkreisliste routePrefix="Daten/Wahlkreis/"></app-wahlkreisliste>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Bundesländer
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-bundeslandliste></app-bundeslandliste>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kandidaten
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-kandidaten matExpansionPanelContent [hidefilter]="false" [mdbOnly]="false"></app-kandidaten>
  </mat-expansion-panel>
</mat-accordion>

