<div>
  <h1>Wahlkreissieger nach Erst- und Zweitstimme</h1>
  <div id="karte-toggle-container">
    <mat-button-toggle-group name="partei" [(ngModel)]="partei" (change)="onParteiChange()">
      <mat-button-toggle value="Gewinner">Gewinner</mat-button-toggle>
      <mat-button-toggle *ngFor="let partei of parteien" [value]="partei">{{partei}}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="siegerTyp" [(ngModel)]="siegerTyp" (change)="onSiegerTypChange()">
      <mat-button-toggle [value]="1">Erststimme</mat-button-toggle>
      <mat-button-toggle [value]="2">Zweitstimme</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <app-karte #karteSieger (ready)="onReady()" [wahl]="20"></app-karte>
</div>
<mat-spinner *ngIf="!wksLoaded()"></mat-spinner>
